# Arquivos de Ambiente e Segurança
venv/
.env
.env.prod

# Arquivos de Cache e Compilação
__pycache__/
*.pyc
*.log

# Arquivos de Banco de Dados Locais
db.sqlite3

# Arquivos de Mídia de Usuários
media/

# Configurações do VS Code
.vscode/

# Node
node_modules/
dist/
.eslintcache

# Pasta de testes
ArquivosTeste/

# Agentes
.agents/

# Added by ggshield
.cache_ggshield

# Arquivos de Backup do Banco
backup_producao_*.json
backup_producao_*.sql
